.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 50px 138px;

  .logo {
    margin-bottom: 45px;
    h3 {
      font-size: 50px;
      font-weight: 700;

      color: #4f5f3a;
    }
  }
  nav {
    ul {
      display: flex;
      li {
        margin-right: 45px;

        font-weight: 400;
        font-size: 25px;

        color: #414e31;

        a {
          cursor: pointer;
        }
      }
    }
  }
}
