@import "/styles/variables.scss";

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 50px 138px;

  .logo {
    margin-bottom: 45px;
    h3 {
      font-size: 50px;
      font-weight: 700;

      color: $green-main;
    }
  }
  nav {
    ul {
      display: flex;
      li {
        margin-right: 45px;

        font-size: 25px;

        color: $green-dark;

        a {
          cursor: pointer;
        }
      }
    }
  }
}
