@import "/styles/variables.scss";

.container {
  max-width: 1440px;
  padding: 0 138px;
  margin: 0 auto;
  h3 {
    font-size: 60px;

    color: $orange-main;
    text-align: center;

    margin-bottom: 74px;
  }

  .reviews {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
