@import "/styles/variables.scss";

.container {
  display: flex;

  max-width: 1440px;
  margin: var(--desktopMargin) auto;
  padding: 0 138px;

  section {
    margin: auto 0 auto 18px;

    h3 {
      font-size: 55px;

      color: $green-main;

      margin-bottom: 50px;
      span {
        color: $orange-main;
      }
    }
    p {
      font-size: 35px;

      color: $black-text;
    }
  }
}

@media (min-width: 1150px) and (max-width: 1300px) {
  .container {
    .img img {
      width: 410px;
      height: 400px;
    }

    section {
      h3 {
        font-size: 45px;

        margin-bottom: 40px;
      }

      p {
        font-size: 30px;
      }
    }
  }
}

@media (min-width: 1001px) and (max-width: 1149px) {
  .container {
    .img img {
      width: 310px;
      height: 300px;
    }

    section {
      h3 {
        font-size: 38px;

        margin-bottom: 35px;
      }

      p {
        font-size: 22px;
      }
    }
  }
}

@media (max-width: 1000px) {
  .container {
    display: flex;
    flex-direction: column-reverse;

    max-width: 600px;
    margin: var(--mobileMargin) auto;
    padding: 0 30px;

    .img {
      display: flex;
      justify-content: flex-end;

      margin-right: -30px;
      img {
        width: 182px;
        height: 182px;
      }
    }

    section {
      margin: 0;

      h3 {
        font-size: 30px;

        margin-bottom: 30px;
      }
      p {
        font-size: 25px;
      }
    }
  }
}
