@import "/styles/variables.scss";

.checkbox {
  width: 20px;
  height: 20px;
  position: relative;
  input {
    width: 0;
    height: 0;
    cursor: pointer;

    &:after {
      content: "";
      display: block;

      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: $green-dark;

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &:checked {
      &:before {
        content: "";
        background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 4L3.71186 7L9 1' stroke='white' stroke-linecap='round'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: center;
        display: block;

        width: 20px;
        height: 20px;
        position: absolute;
        z-index: 100;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &:disabled {
      &:before,
      &:after {
        opacity: 0.4;
      }
    }
  }
}
