@import "/styles/variables.scss";

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 138px;

  h3 {
    font-size: 60px;

    color: $green-main;

    text-align: center;

    span {
      color: $orange-main;
    }
  }

  .reasons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-top: 29px;
  }
}

@media (max-width: 600px) {
  .container {
    max-width: 600px;
    padding: 0 75px;

    h3 {
      font-size: 30px;
      text-align: start;
    }

    .reasons {
      margin-top: 0;
    }
  }
}
