@import "/styles/variables.scss";

.container-mobile {
  display: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 138px;

  h3 {
    font-size: 60px;

    color: $green-main;

    text-align: center;

    span {
      color: $orange-main;
    }
  }

  .reasons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-top: 29px;
  }
}

@media (max-width: 600px) {
  .container-mobile {
    display: block;

    max-width: 600px;
    margin: 0 auto;
    padding: 0;

    h3 {
      font-size: 30px;

      color: $green-main;

      text-align: start;

      padding: 0 30px;
      span {
        color: $orange-main;
      }
    }

    .reasons {
      width: 100%;
      .item-of-slider {
        margin: 30px auto;
        div {
          margin: 0 auto;
        }
      }
    }
  }

  .container {
    display: none;
  }
}
