@import "/styles/variables.scss";

.container {
  width: 1060px;
  height: 578px;
  padding: 0 65px;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  div {
    margin-right: 28px;
    h3 {
      font-size: 70px;

      color: $orange-main;

      margin-bottom: 30px;
    }
    button {
      background-color: $orange-main;
      color: $white;

      font-weight: 700;
      font-size: 25px;
      cursor: pointer;

      outline: none;
      border: none;
      border-radius: 40px;

      width: 435px;
      height: 90px;

      display: flex;
      align-items: center;
      justify-content: center;

      span {
        margin-right: 30px;
      }
    }
  }
}
