.container {
  display: flex;

  padding: 0 70px;
  .text {
    margin: auto 0;
    h2 {
      color: $orange-main;

      font-size: 70px;

      margin-bottom: 30px;
    }

    .button-content {
      display: flex;
      align-items: center;

      span {
        margin-right: 30px;
      }
    }
  }

  .image {
    .teenager-kangaroo {
      width: 420px;
      height: 578px;
    }
  }
}

@media (max-width: 500px) {
  .container {
    padding: 32px 14px;
    flex-direction: column-reverse;

    .text {
      h2 {
        font-size: 48px;
      }
    }

    .image {
      .teenager-kangaroo {
        width: 262px;
        height: 348px;
      }
    }
  }
}
