@import "/styles/variables.scss";

.container {
  width: 1060px;
  height: 578px;
  padding: 0 65px;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  div {
    margin-right: 28px;
    h3 {
      font-size: 70px;

      color: $orange-main;

      margin-bottom: 30px;
    }
    button {
      background-color: $orange-main;
      color: $white;

      font-weight: 700;
      font-size: 25px;
      cursor: pointer;

      outline: none;
      border: none;
      border-radius: 40px;

      width: 435px;
      height: 90px;

      display: flex;
      align-items: center;
      justify-content: center;

      span {
        margin-right: 30px;
      }

      img {
        height: 40px;
        width: 25px;
      }
    }
  }

  img {
    height: 578px;
    width: 420px;
  }
}

@media (max-width: 600px) {
  .container {
    width: auto;
    height: auto;
    padding: 56px 14px;

    flex-direction: column-reverse;
    align-items: flex-start;
    div {
      margin-right: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      h3 {
        text-align: center;
        font-size: 35px;

        margin-bottom: 32px;
      }
      button {
        font-size: 18px;

        border-radius: 30px;

        width: 265px;
        height: 50px;

        span {
          margin-right: 7px;
        }

        img {
          height: 25px;
          width: 15px;
        }
      }
    }
    img {
      height: 348px;
      width: 262px;
    }
  }
}
