@import "/styles/variables.scss";

.container {
  width: 1060px;
  height: 578px;
  padding: 0 52px;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  section {
    h3 {
      font-size: 70px;

      color: $orange-main;

      margin-bottom: 10px;
    }
    p {
      font-size: 35px;

      color: $orange-main;
    }
  }
}
