@import "/styles/variables.scss";

.container {
  width: 1060px;
  height: 578px;
  padding: 0 65px;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  section {
    margin-left: 28px;
    h3 {
      font-size: 70px;

      color: $orange-main;

      margin-bottom: 16px;
    }
    p {
      font-size: 35px;

      color: $orange-main;
    }
  }

  img {
    width: 411px;
    height: 580px;
  }
}

@media (max-width: 600px) {
  .container {
    width: auto;
    height: auto;
    padding: 58px 30px;

    flex-direction: column;
    align-items: flex-start;

    section {
      margin-left: 0;
      h3 {
        text-align: center;
        font-size: 35px;

        margin-bottom: 20px;
      }
      p {
        font-size: 20px;
      }
    }

    img {
      width: 257px;
      height: 359px;
    }
  }
}
