.container {
  background-color: #50603a;
  border-bottom-right-radius: 288px;

  display: flex;
  align-items: center;

  .text {
    h1 {
      font-style: normal;
      font-weight: 400;
      font-size: 50px;
    }

    button {
      background-color: #fafafa;
      color: #4f5f3a;

      padding: 27px 39px;
      border: none;
      border-radius: 40px;

      font-weight: 400;
      font-size: 30px;

      display: flex;
      align-items: center;

      span {
        margin-right: 21px;
      }
    }
  }
}
