@import "/styles/variables.scss";

.wrapper {
  background-color: $green-main;
  .container {
    position: relative;

    border-bottom-right-radius: 288px;

    display: flex;
    align-items: center;

    max-width: 1440px;
    margin: 50px auto 0;
    padding: 0 108px 0 208px;

    .text {
      h1 {
        font-style: normal;

        font-size: 50px;

        color: $white;
        margin-bottom: 45px;
      }
      a {
        border-radius: 40px;
        display: inline-block;
        button {
          background-color: $white;
          color: $green-main;

          border: none;
          border-radius: 40px;

          width: 435px;
          height: 90px;

          font-size: 30px;

          display: flex;
          align-items: center;
          justify-content: center;

          span {
            margin-right: 21px;
          }
        }
      }
    }

    .plate-1,
    .plate-2,
    .plate-3,
    .england-flag,
    .spanish-flag {
      position: absolute;
    }

    .england-flag,
    .spanish-flag {
      img {
        border-radius: 50%;
      }
    }

    .england-flag {
      top: 25px;
      left: 58px;
    }

    .spanish-flag {
      top: 176px;
      left: 25px;
    }

    .plate-1,
    .plate-2,
    .plate-3 {
      color: white;
      font-weight: 700;

      border: 3px solid $white;
      height: 75px;

      display: flex;
      justify-content: center;
      align-items: center;
    }

    .plate-1 {
      top: 80px;
      right: 16px;

      border-radius: 54px;
      width: 230px;

      font-size: 20px;
    }

    .plate-2 {
      top: 306px;
      right: 25px;

      border-radius: 56px;
      width: 190px;

      font-size: 20px;
    }

    .plate-3 {
      top: 486px;
      right: 478px;

      border-radius: 10px;
      width: 185px;

      font-size: 18px;
    }
  }
}
