.wrapper {
  .container {
    max-width: 1440px;
    padding: 0 138px;
    margin: 0 auto;

    h3 {
      font-weight: 400;
      font-size: 60px;
      color: #4f5f3a;

      margin-bottom: 70px;
      text-align: center;
    }

    ul {
      li {
        margin-bottom: 26px;

        display: flex;
        align-items: center;
        .text {
          font-weight: 400;
          font-size: 40px;
          color: #fafafa;

          margin-left: 16px;
        }
      }
    }

    .line {
      height: 1px;
      background-color: #fafafa;
    }
  }
}
