@import "/styles/variables.scss";

.container {
  max-width: 1440px;
  padding: 0 138px;
  margin: 0 auto;

  h3 {
    font-size: 60px;
    color: $green-main;

    margin-bottom: 70px;
    text-align: center;
  }

  ul {
    li {
      margin-bottom: 26px;

      display: flex;
      align-items: center;
      .text {
        font-size: 40px;
        color: $white;

        margin-left: 16px;
      }
    }
  }

  .line {
    height: 1px;
    background-color: $white;
  }
}
