@import "/styles/variables.scss";

.container {
  max-width: 1440px;
  margin: 20px auto 0;
  padding: 0 138px;

  .palm {
    position: absolute;
    top: 320px;
    right: 0;
  }

  .bread-crumbs {
    display: flex;
    align-items: center;

    color: $green-main;
    font-size: 20px;

    img {
      margin: 0 8px;
    }

    .opacity-text {
      opacity: 0.6;
    }
  }

  h4 {
    font-family: "Actay";
    font-size: 40px;
    font-weight: 700;

    color: $orange-main;

    margin: 50px 0 60px;
  }

  .languages {
    margin-bottom: 45px;
    div {
      display: flex;
      align-items: center;

      margin-bottom: 9px;
      .languages-label {
        font-size: 35px;
        color: $green-dark;

        margin-left: 10px;

        cursor: pointer;
      }
    }
  }

  .inputs {
    div {
      input {
        margin-right: 52px;
      }

      &:first-child {
        margin-bottom: 32px;
      }
    }
  }

  .checkbox {
    margin: 24px 0 54px;
    display: flex;
    align-items: center;

    .label-checkbox {
      color: $green-dark;
      font-size: 20px;

      margin-left: 4px;
      cursor: pointer;
    }
  }

  button {
    background-color: $orange-main;
    color: $white;

    width: 435px;
    height: 90px;
    margin-bottom: 100px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    border-radius: 40px;
    outline: none;

    span {
      margin-right: 30px;

      font-weight: 700;
      font-size: 25px;
    }
  }
}

@media (max-width: 600px) {
  .container {
    max-width: 600px;
    margin-top: 30px;
    padding: 0 30px;
    position: relative;

    overflow: hidden;
    .palm {
      top: 0;
      right: -60px;

      width: 206px;
      height: 240px;

      transform: rotate(15deg);

      z-index: -10;
    }

    .bread-crumbs {
      font-size: 11px;

      img {
        margin: 0 4px;
        width: 6px;
        height: 8px;
      }
    }

    h4 {
      font-size: 25px;

      margin: 40px 0;
    }

    .languages {
      margin-bottom: 30px;
      div {
        margin-bottom: 15px;
        .languages-label {
          font-size: 25px;

          margin-left: 6px;
        }
      }
    }

    .inputs {
      div {
        display: flex;
        flex-direction: column;

        input {
          margin: 0 0 25px;
        }

        &:first-child {
          margin-bottom: 0;
        }
      }
    }

    .checkbox {
      margin: 5px 0 30px;

      align-items: flex-start;
      .label-checkbox {
        margin-left: 11px;
      }
    }

    button {
      width: 330px;
      height: 66px;
      margin-bottom: 50px;

      border-radius: 30px;

      span {
        margin-right: 14px;

        font-size: 19px;
      }

      img {
        width: 20px;
        height: 30px;
      }
    }
  }
}
