@import "/styles/variables.scss";

.container {
  max-width: 1440px;
  margin: 150px auto;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
  h3 {
    font-size: 60px;

    color: $white;

    margin-bottom: 100px;
  }

  .courses {
    .course-1,
    .course-2,
    .course-3 {
      display: flex;
    }

    .course-1,
    .course-2 {
      margin-bottom: 130px;
    }

    .course-1 {
      display: inline-block;
      position: relative;
      img {
        position: absolute;
        left: 369px;
        bottom: 0;
      }
    }

    .course-2 {
      img {
        margin-right: 18px;
      }
    }

    .course-3 {
      align-items: center;
      img {
        margin-left: 55px;
      }
    }
  }

  .palm-first,
  .palm-second {
    position: absolute;
    z-index: -1;
  }

  .palm-first {
    top: 180px;
    right: 0;
  }
  .palm-second {
    bottom: 180px;
    left: 0;
  }
}
