@import "/styles/variables.scss";

.container {
  max-width: 1440px;
  margin: 150px auto;
  padding: 0 138px;

  h3 {
    font-size: 60px;

    color: $orange-main;

    text-align: center;

    margin-bottom: 73px;
  }

  .content {
    .teacher {
      display: flex !important;
      justify-content: space-between;

      .about {
        h4 {
          font-family: "Actay";
          font-weight: 700;
          font-size: 50px;

          color: $green-main;

          margin-bottom: 34px;
        }

        h5 {
          font-family: "Actay";
          font-size: 20px;

          color: $black-text;

          margin-bottom: 32px;
        }

        .text {
          display: flex;
          margin-bottom: 56px;

          .teacher-photo {
            display: none;
          }

          .quotes-right {
            align-self: flex-end;

            margin-bottom: -56px;

            transform: rotate(180deg);
          }

          p {
            font-size: 25px;

            color: $green-dark;

            padding: 16px 18px 0;
            width: 390px;
          }
        }
      }

      .image {
        position: relative;
        img {
          border-radius: 50%;
        }

        .highlight {
          position: absolute;
          bottom: 0;
          right: 1px;

          display: flex;
          justify-content: center;
          align-items: center;

          max-width: 295px;
          padding: 22px 38px;

          background-color: $orange-main;
          border-radius: 44px;

          font-size: 20px;

          color: $white;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .container {
    max-width: 600px;
    margin: 75px auto;
    padding: 0 30px;

    h3 {
      font-size: 30px;

      text-align: start;

      margin-bottom: 40px;
    }

    .content {
      .teacher {
        .about {
          h4 {
            font-size: 25px;

            margin-bottom: 15px;
          }

          h5 {
            margin-bottom: 0;
          }

          .text {
            display: block;
            margin-bottom: 0;

            .teacher-photo {
              display: block;
              margin: 32px 0 48px;
              img {
                width: 300px;
                height: 300px;
                border-radius: 50%;
              }
            }

            .quotes-right,
            .quotes-left {
              display: none;
            }

            p {
              font-size: 20px;

              padding: 0;
              width: 316px;
            }
          }
        }

        .image {
          display: none;
        }
      }
    }
  }
}
