@import "/styles/variables.scss";

.container {
  max-width: 1440px;
  margin: 150px auto;
  padding: 0 138px;

  h3 {
    font-size: 60px;

    color: $orange-main;

    text-align: center;

    margin-bottom: 73px;
  }

  .content {
    .teacher {
      display: flex !important;
      justify-content: space-between;

      .about {
        h4 {
          font-family: "Actay";
          font-weight: 700;
          font-size: 50px;

          color: $green-main;

          margin-bottom: 34px;
        }

        h5 {
          font-family: "Actay";
          font-size: 20px;

          color: $black-text;

          margin-bottom: 31px;
        }

        .text {
          display: flex;
          margin-bottom: 56px;

          .quotes-right {
            align-self: flex-end;

            margin-bottom: -56px;

            transform: rotate(180deg);
          }

          p {
            font-size: 25px;

            color: $green-dark;

            padding: 16px 18px 0;
            width: 390px;
          }
        }
      }

      .image {
        position: relative;
        img {
          border-radius: 50%;
        }

        .highlight {
          position: absolute;
          bottom: 0;
          right: 1px;

          display: flex;
          justify-content: center;
          align-items: center;

          max-width: 295px;
          padding: 22px 38px;

          background-color: $orange-main;
          border-radius: 44px;

          font-size: 20px;

          color: $white;
        }
      }
    }
  }
}
