@import "/styles/variables.scss";

.container {
  max-width: 1440px;
  margin: 150px auto;
  padding: 0 138px;

  h3 {
    font-size: 60px;

    color: $orange-main;

    text-align: center;

    margin-bottom: 73px;
  }

  .teacher {
    display: flex;
    justify-content: space-between;
    position: relative;

    .arrow-left,
    .arrow-right {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      height: 85px;
      width: 85px;

      background-color: $orange-main;
      border-radius: 50%;

      display: flex;
      justify-content: center;
      align-items: center;
    }

    .arrow-left {
      left: -90px;

      img {
        transform: rotateY(180deg);
      }
    }

    .arrow-right {
      right: -43px;
    }

    .about {
      h4 {
        font-family: "Actay";
        font-weight: 700;
        font-size: 50px;

        color: $green-main;

        margin-bottom: 34px;
      }

      h5 {
        font-family: "Actay";
        font-size: 20px;

        color: $black-text;

        margin-bottom: 31px;
      }

      .text {
        display: flex;

        .quotes-left {
        }

        .quotes-right {
          align-self: flex-end;
          margin-bottom: -16px;
        }

        p {
          font-size: 25px;

          color: $green-dark;

          padding: 16px 18px 0;
          width: 390px;
        }
      }
    }

    .image {
      position: relative;
      img {
        border-radius: 50%;
      }

      .highlight {
        position: absolute;
        bottom: -40px;
        right: -40px;
        display: flex;
        justify-content: center;
        align-items: center;

        max-width: 295px;
        padding: 22px 38px;

        background-color: $orange-main;
        border-radius: 44px;

        font-size: 20px;

        color: $white;
      }
    }
  }
}
