@import "/styles/variables.scss";

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DelaGothicOne";
  font-style: normal;
  font-weight: 400;
}

html,
body {
  padding: 0;
  margin: 0;

  font-family: "Actay";
  font-style: normal;
  font-weight: 400;
}

button {
  font-family: "Actay";
  font-style: normal;
  font-weight: 700;

  cursor: pointer;

  background-color: transparent;
  border: none;
  outline: none;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;

  cursor: pointer;
}

* {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
}

.wrapper-contacts-footer {
  background-image: url(".././images/footer-background.svg");
  background-position: center;
  background-repeat: no-repeat;
  height: 1000px;
}

.wrapper-our-courses {
  background-image: url(".././images/background-our-courses.svg");
  background-repeat: no-repeat;
  background-position: top 185px center;
}

.slick-prev,
.slick-next {
  height: 85px !important;
  width: 85px !important;

  background-color: $orange-main !important;
  border-radius: 50% !important;

  z-index: 100 !important;

  &:before {
    content: url(".././images/arrow-right-white.svg") !important;

    display: block !important;
    opacity: 1 !important;

    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
  }

  &.slick-disabled {
    &:before {
      opacity: 0.75 !important;
    }
  }
}

.slick-prev {
  left: -85px !important;
  &:before {
    transform: rotateY(180deg) translate(50%, -50%) !important;
  }
}

.slick-next {
  right: -45px !important;
}

@media (max-width: 600px) {
  .slick-prev,
  .slick-next {
    height: 50px !important;
    width: 50px !important;
    &:before {
      width: 16px !important;
      height: 30px !important;
      top: 50% !important;
      left: 50% !important;
      transform: translate(-50%, -50%) !important;
    }
  }

  .slick-prev {
    left: -12px !important;
    &:before {
      transform: rotateY(180deg) translate(50%, -50%) !important;
    }
  }

  .slick-next {
    right: -12px !important;
  }
}
